@media print {
  * {
    display: none;
  }
}
@media (max-width:640px) {
  h1 {
    color:white;
    text-align: left;
  }
  p {
    color: white;
    font-weight: 600;
  }
  div {
    color: white;
  }
  ul {
    color: white;

  }
  li {
    color: white;
  }
}

.profile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 5px solid white;

}
div {
  padding: 10px;
}
h1 {
  text-align: center;
  padding-top: 10px;
  font-family: "Times New Roman", serif;
  font-weight: bolder;
}
p {
  color: black;
  font-family: "Times New Roman", serif;
  font-weight: bolder;
}
body {
   background-color: grey;
 }

a:link {
  color: black;
}
a:visited {
  color: black;
}
ul {
  font-weight: bold;
  color: black;
}
li {
  font-weight: bold;
}
table, th, td {
  border: 1px solid;
  text-align: center;
  background-color: lightblue;
  font-weight: bolder;
}
form {
  width: 700px;
  border-style: solid;
  border-width: thick;
  padding-bottom: 10px;
}
.menuList {
  font-weight:bold;
  margin-left:30px;
}
#Site_Menu {
  background-color:red;
  margin-right: 750px;
  margin-left: 10px;
}
#Basic_Information {
  background-color:#FF3131;
}
#Education {
  background-color:orange;
}
#Experience {
  background-color:yellow;
}
#Programming_Skills {
  background-color:green;
}
#Interests {
  background-color:lightblue;
}
#Favorite_Videos {
  background-color:indigo;
}
#Favorite_Website {
  background-color:violet;
}
#Projects {
  background-color:gold;
}
