#image_selection_button {
  display: inline-block;
  height: 200px;
  padding: 0;
  margin: 30px;
  vertical-align: top;
  width: 200px;
}
img {
  height: 205px;
  width: 205px;
  margin: 0px;
}
#scoreboard {
  background-color: grey;
}
.btn-primary {
  margin: 7px;
}
button {
  margin:7px;
}
